#
# Please make sure to read and understand README.md and LICENSE.txt.
#
# This file was prepared in the research project COCOP (Coordinating
# Optimisation of Complex Industrial Processes).
# https://cocop-spire.eu/
# Author: Antti Kätkytniemi, Tampere University, Finland
# Last modified: 4/2020


# rows that star with # are comments

#database connection parameters
host:
port:
user:
password:
database:

#amqp message bus connection parameters
amqpuser:
amqppassword:
#"amqp" or "amqps" if encrypted connection
amqpprotocol:
amqphost:
amqpport:
exchange:
gettopic:
pushtopic:
#certificate for amqps connection
cert:
